# Blah blah blah

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [63]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df_post = pd.read_html(str(table))[0]
df_post.head(5)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [105]:
# Assign column names per assignment

df_post.columns = ['PostalCode','Borough', 'Neighborhood']

In [106]:
# Get rid of rows that do not contain a borough

df_post = df_post[df_post['Borough'] != 'Not assigned']

df_post.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [117]:
# Let's create a set of all Postcode / Borough combinations
# This will allow us to get a list of neighborhoods in the next cell
area_set = set()
for i, row in df_post.iterrows():
    area_set.add((row['PostalCode'], row['Borough']))

print(len(area_set))

103

In [126]:
# Create a new dataframe by iterating through the set



x, y = 'M5V', 'Downtown Toronto'

In [133]:
', '.join(list(df_post[(df_post['PostalCode'] == x) & (df_post['Borough'] == y)]['Neighborhood']))

'CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara'

In [ ]:
','.join(value)

In [71]:
# df_post = df_post.set_index(['Postcode', 'Borough'])
# df_post.head(20)

# Create a dictionary where the key is a tupple of Postcode, Borough

post_dict = {}

for i, row in df_post.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']
        
    if (row['Postcode'], row['Borough']) in post_dict.keys():
        post_dict[(row['Postcode'], row['Borough'])] += (", " + row['Neighbourhood'])
    else:
        post_dict[(row['Postcode'], row['Borough'])] = row['Neighbourhood']

post_dict[('M7A', "Queen's Park")]

"Queen's Park"

In [93]:
# Convert dictionary back into a dataframe.

# define the dataframe columns
column_names = ['PostalCode','Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)


for key, value in post_dict.items():
    row_dict = {'PostalCode': [key[0]],
                'Borough': [key[1]],
                'Neighborhood': [value]}
#     print(row_dict)
    a_row = pd.DataFrame.from_dict(row_dict)
    neighborhoods = neighborhoods.append(a_row)
    
neighborhoods.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
0        M4A        North York                  Victoria Village
0        M5A  Downtown Toronto         Harbourfront, Regent Park
0        M6A        North York  Lawrence Heights, Lawrence Manor
0        M7A      Queen's Park                      Queen's Park

In [100]:
neighborhoods.shape

(103, 3)

In [89]:
# for i, row in df_post.iterrows():
#     print('index: ', i, 'col Neighbourhood:', row['Neighbourhood'])

# Completion Checklist

[ ] In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.